.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  background-image: url("https://www.pogdesign.co.uk/cat/imgs/episodes/The-Simpsons/The-Simpsons-S05E05-e9543bc5aefbf1cb524e5db11af6495d-full.jpg");
}

.container > div {
  display: flex;
  flex-direction: column;
  width: 20vw;
}