.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    margin-bottom: 30px;
}

.container > button {
    border: none;
    color: lightgrey;
}

.join {
    background-color: green;
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.create {
    background-color: transparent;
}