.wait{
    background-color: rgb(13, 17, 23);
    height:100%;
}

.wait > .waitTitleContainer{
    background-color: rgb(22, 27, 34);
    display:flex;
    justify-content: center;
    padding:30px;
}

.wait > .waitContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1.4em;
    margin-top:150px;
}

.waitContainer > *{
    margin:25px;
}

.wait > .waitContainer > button {
    background-color: rgb(255, 255, 255);
    color: rgb(92, 91, 91);
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.wait > .waitContainer > button:hover{
    background-color: rgb(232, 228, 228);
}


/* .wait {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wait > * {
    margin: 0px;
}

.wait .users {
    margin: 20px
}
.wait .users > * {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, .5);
} */

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(13, 17, 23);
}

.question .answers {
    width: 80%;
    margin-top: 60px;
    display: grid;
    grid-template:
        "a a" auto
        "a a" auto;
    gap: 20px;
}

.question .answers * {
    aspect-ratio: 16/2;
    min-height: 30px;
    font-size:1.1em;
    border:none;
    background-color: white;
}

.question .answers *:hover{
    background-color: rgb(232, 228, 228);
}

.answer {
    background-color: rgb(13, 17, 23);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top:110px;
}

.answer > h2{
    margin-top: 70px;
}

.answer .leaderboard {
    width: 80%;
    display: grid;
    margin-top:5px;
    grid-template:
        "a" 
        "a"
        "a"
        "a";
}

.answer .leaderboard *{
    background-color: rgb(236, 236, 236);
    color:black;
    padding:20px;
    border-radius: 3px;
    font-size:1em;
}