.wait{
    background-color: rgb(13, 17, 23);
    height:100%;
}

.wait > .waitTitleContainer{
    background-color: rgb(22, 27, 34);
    display:flex;
    justify-content: center;
    padding:30px;
}

.wait > .waitContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1.4em;
    margin-top:150px;
}

.waitContainer > *{
    margin:25px;
}

.wait > .waitContainer > img{
    width:200px;
    rotate: 20deg;
}


.wait > .waitContainer > button {
    background-color: rgb(232, 228, 228);
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}

.wait > .waitContainer > button:hover{
    background-color: rgb(232, 228, 228);
}


/* .wait {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wait > * {
    margin: 0px;
}

.wait .users {
    margin: 20px
}
.wait .users > * {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, .5);
} */

.question {
    background-color: rgb(13, 17, 23);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.question .answers {
    width: 80%;
    margin-top: 60px;
    display: grid;
    grid-template:
        "a a" auto
        "a a" auto;
    gap: 20px;
}

.question .answers * {
    aspect-ratio: 16/2;
    min-height: 30px;
    font-size:1.1em;
    border:none;
    background-color: white;
}

.question .answers *:hover{
    background-color: rgb(232, 228, 228);
}


.answer {
    background-color: rgb(13, 17, 23);
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.answer > h1{
    font-size:2.8em;
    padding-top:80px;
}

.answer > h3{
    color:rgb(83, 236, 83);
    margin-top:0px;
}


.answer .leaderboard {
    background-color: rgba(255,255,255,0.1);
    width: 70%;
    display: grid;
    margin-top:110px;
    grid-template:
        "a" 
        "a"
        "a"
        "a";
    padding:30px 0px;
    border-radius:8px;
}

.answer .leaderboard p{
    background-color: rgb(236, 236, 236);
    color:black;
    padding:20px;
    border-radius: 8px;
    font-size:1em;
    margin: 8px 60px;
}

.answer .leaderboard h2{
    padding-left:60px;
}

.winner{
    height:100%;
    background-color: rgb(13, 17, 23);
    color:white;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.winner > img{
    width:140px;
}
